* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-input {
  width: 65%;
  align-content: center;
  margin: 60px 0 0 0;
  height: 5vh;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 20px;
}

#search-input::placeholder {
  color: white;
}

#resultArea {
  height: 80vh;
  background-color: black;
  color: white;
}

.result {
  margin-top: 2vh;
  max-height: 60vh; /* Begrenze die maximale Höhe des Containers */
  overflow-y: scroll; /* Ermögliche vertikales Scrollen */
  width: 100%;
}

#searchButton {
  height: 5vh;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 20px;
}

#search {
  background-color: black;
  color: white;
  height: 80vh;
  text-align: center;
}

#search h1 {
  font-size: 28px;
}

#search p {
  font-size: 20px;
}

.box {
  color: white;
  margin: 40px 25px 0 25px;
  padding: 10px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgb(177, 27, 27);
}

.box ul {
  list-style-type: none;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  height: 10vh;
  align-content: center;
}

header h1 {
  padding: 10px;
  background: rgb(177, 27, 27);
  margin: 0px 25px 0 25px;
  border-radius: 10px;
}

footer {
  height: 10vh;
  color: white;
  background-color: black;
  text-align: center;
  align-content: center;
}

#homeButton {
  height: 5vh;
  width: 20%;
  font-size: 20px;
  background-color: rgb(20, 20, 20);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px; /* Abstand zwischen den Listenelementen */
  word-wrap: break-word; /* Lange Worte werden umgebrochen */
}
